{% extends "github/user_profile.html" %}

{% block content %}

<h1>Change password</h1>

{% if messageNew %}
<div class="alert alert-success">
  <strong>Success!</strong> {{messageNew}}
</div>
{% endif %}

<div class="container">
    <form class="form-horizontal" action="{% url 'github:change_password' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-sm-2" for="oldpassword">Old password:</label>
            <div class="col-sm-5">
                <input type="password" class="form-control" id="oldpassword" placeholder="Enter old password" name="oldpassword" required/>

                {% if messageOldPass %}
                <div class="alert alert-danger">
                    <strong>Danger!</strong> {{messageOldPass}}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="newpassword">New password:</label>
            <div class="col-sm-5">
                <input type="password" class="form-control" id="newpassword" placeholder="Enter new password" name="newpassword" required/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="confirmnewpassword">Confirm new password:</label>
            <div class="col-sm-5">
                <input type="password" class="form-control" id="confirmnewpassword" placeholder="Confirm new password" name="confirmnewpassword" required/>

                {% if messageConfirmationPass %}
                <div class="alert alert-danger">
                    <strong>Danger!</strong> {{messageConfirmationPass}}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Update password</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}


