{% extends "github/organization_base.html" %}

{% block content %}
    <div><h3>Organizations of <mark>{{username}}</mark></h3></div>
    <div class="col-xs-12" style="height:50px;"></div>
    <div class="container">
       <table class="table">
           <thead>
           <tr>
               <th style="width:10%">Organization name</th>
               <th style="width:10%"></th>
               <th style="width:10%"></th>
           </tr>
           </thead>

           <tbody>
           {% for o in organizationsOfUser%}
           <tr>
               <td><a href="{% url 'github:organizationInfo' o.name %}">{{o.name}}</a></td>

               <td>
                   {% if o.owner.username == username %}
                   <a href="{% url 'github:switch_edit_organization' o.name %}">Edit <span class="glyphicon glyphicon-pencil"></span></a>
                   {% endif %}
               </td>

               <td>
                   {% if o.owner.username == username %}
                   <a href="{% url 'github:switch_delete_organization' o.name %}">Delete <span class="glyphicon glyphicon-trash"></span></a>
                   {% endif %}

               </td>
           </tr>
           {% endfor %}

           </tbody>
       </table>
    </div>
</div>
{% endblock %}