{% extends "github/repository_show_one_base.html" %}

{% block content %}
    <div><h4>About repository</h4></div>

    <div class="row">
        <div class="col-xs-10">
            <h5><b>Name</b></h5>
            <ul class="list-group">
                <li class="list-group-item">{{repository.name}}</li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block content_right %}
<ul class="nav nav-stacked">
    <li>
        <h5><b>Members:</b></h5>
        <ul class="list-group">
            {% for member in repository.members.all %}
                <li class="list-group-item" style="padding: 5px 15px;">
                    <b>{{member.username}}</b>
                    {% if member.username == repository.owner.username %} [owner] {% endif %}
                    {% if member.username != repository.owner.username %} [member] {% endif %}
                </li>
            {% endfor %}
        </ul>
    </li>
</ul>
{% endblock %}
