{% extends "github/base.html" %}

{% block body_content %}
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <!-- Sidebar Header -->
            <div class="sidebar-header">
                <h3>{{repository.name}}</h3>
            </div>

            <ul class="nav nav-stacked">
                <li><a href="{% url 'github:repositoryInfo' repository.name %}">About repository</a></li>
                <li><a href="{% url 'github:addNewMemberRepository' repository.name %}">Add member ro repository</a></li>
                <li><a href="{% url 'github:switch_all_issues' %}">Issues</a></li>
                <li><a href="{% url 'github:getAllMilestones' repository.name  %}">Milestones</a></li>
                <li><a href="{% url 'github:switch_label_show_all' %}">Labels</a></li>
                <li><a href="{% url 'github:wiki' repository.pk %}">Wiki</a></li>
                <li><a href="{% url 'github:organizationInfo' repository.organization.name %}">Back to organization</a></li>
            </ul>
        </div>
        <div class="col-sm-8 text-left">
            <!-- Page Content -->
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2 sidenav">
            {% block content_right %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}