{% extends "github/home.html" %}

{% load static %}

{% block body_content %}
<div class="container">
    <div class="row" id="pwd-container">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form class="login-form" method="post" action="{% url 'github:reset_password' %}">
                {% csrf_token %}

                <div class="imgcontainer" align="center">
                    <img src="{% static 'github/images/logo.png' %}" width="100px" height="80px" alt="BooHub"/>
                </div>

                <h4 align="center">Reset your password</h4>

                <div class="form-group">
                    <label class="control-label col-sm-" for="email"> Enter your email address and we will send you a link to reset your password.</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" placeholder="example@gmail.com" name="email" value="{{ user.email }}" required/>

                        {% if message %}
                        <div class="alert alert-danger">
                            <strong>Dnager!</strong> {{message}}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <button type="submit" class="btn btn-default btn-block">Send password reset mail</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
