<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BooHub</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    {% block head_content %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="{% static 'github/images/logo.png' %}" width="70px" height="50px" alt="BooHub"/>
            </div>

            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'github:home' %}">Home</a></li>
                <li><a href="{% url 'github:registration' %}">Registration</a></li>
                 <li><a href="{% url 'github:organization' %}">Organization</a></li>
            </ul>


            {% if not request.session.uname_user %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'github:login' %}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
            </ul>
            {% endif %}

            {% if request.session.uname_user %}

            {% endif %}
        </div>
    </nav>

    {% block body_content %}{% endblock %}
</body>
</html>