{% extends "github/base.html" %}
{% load static %}

{% block body_content %}
    <!--user loggedin-->
    {% if request.session.uname_user and request.session.loggedin %}
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
            </div>
            <div class="col-sm-8 text-left">
                <h1>Welcome {{ request.session.uname_user }}</h1>

                <h4>Thank you for joining BooHub!</h4>

                <img src="{% static 'github/images/get_started.jpg'%}" style="width:100%;"/>
            </div>

            <div class="col-sm-2 sidenav">
            </div>
        </div>
    </div>
    {% endif %}

    <!--user not loggedin-->
    {% if not request.session.uname_user and not request.session.loggedin %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{% static 'github/images/carousel.jpg'%}" style="width:100%;">
                <div class="carousel-caption">
                    <h1>Built for developers</h1>
                    <h2>BooHub is a development platform inspired by the way you work.</h2>
                    <a href="{% url 'github:registration' %}"><button class="btn btn-default">Signup</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <h1>A better way to work together</h1><br>

        <div class="row">
            <div class="col-sm-4">
                <h3>Write better code</h3>
                <p>Collaboration makes perfect. The conversations and code reviews that happen in Pull Requests help your team share the weight of your work and improve the software you build. </p>
            </div>

            <div class="col-sm-4">
                <h3>Manage your chaos</h3>
                <p>Take a deep breath. On BooHub, project management happens in Issues and Projects, right alongside your code. All you have to do is mention a teammate to get them involved.</p>
            </div>

            <div class="col-sm-4">
                <h3>Say 'Hello World' in different languages!</h3>
                <img src="{% static 'github/images/c#_logo.png' %}" class="img-circle" alt="C#" width="50px" height="50px">
                <img src="{% static 'github/images/c++_logo.png' %}" class="img-circle" alt="C#" width="50px" height="50px">
                <img src="{% static 'github/images/java_logo.png' %}" class="img-circle" alt="C#" width="50px" height="50px">
                <img src="{% static 'github/images/go_logo.png' %}" class="img-circle" alt="C#" width="50px" height="50px">
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
