{% extends "github/issue.html" %}

{% block head_content %}
<script>
    function show_form(n){
        var form = document.getElementById("form_part"+n);
        form.style.display = "";

        var form_reply = document.getElementById("form_part_reply"+n);
        form_reply.style.display = "none";
    }

    function hide_form(n){
        var form = document.getElementById("form_part"+n);
        form.style.display = "none";
    }

    function click_button(n){
        var button = document.getElementById("button"+n);
        $(".modal-body #commentid").val( n );
        $('#deleteModal').modal('show');
    }

    function show_form_reply(n){
        var form_reply = document.getElementById("form_part_reply"+n);
        form_reply.style.display = "";

        var form = document.getElementById("form_part"+n);
        form.style.display = "none";
    }

    function hide_form_reply(n){
        var form_reply = document.getElementById("form_part_reply"+n);
        form_reply.style.display = "none";
    }
</script>
{% endblock %}

{% block content %}
<h1 class="text-primary">{{issue.title}}</h1>
<span {% if not issue.closed %}class="label label-success"{% endif %} {% if issue.closed %}class="label label-danger"{% endif %}>
    {% if not issue.closed %}
    Open
    {% endif %}

    {% if issue.closed %}
    Closed
    {% endif %}
</span>
<p>{{issue.author.username}}</p>

<div class="row">
    <div class="col-xs-10">
        <h5><b>Description</b></h5>
        <ul class="list-group">
            <li class="list-group-item">{{issue.description}}</li>
        </ul>

        <h5><b>Comments</b></h5>
        {% if messageDelete %}
         <div class="alert alert-success">
             <strong>Success!</strong> {{messageDelete}}
         </div>
        {% endif %}
        <ul class="list-group">
            {% for comment in comments %}
             <li class="list-group-item">
                 <!-- Edit button-->
                 <button type="button" onclick="show_form({{comment.pk}})"><span class="glyphicon glyphicon-pencil"></span></button>

                 <!-- Reply button-->
                 <button type="button" onclick="show_form_reply({{comment.pk}})"><span class="glyphicon glyphicon-share-alt"></span></button>


                 <!-- Delete button-->
                 <button type="button" id="button{{comment.pk}}" onclick="click_button({{comment.pk}})"><span class="glyphicon glyphicon-trash"></span></button>

                 <span>{{comment.author.username}}</span>
                 <span>{{comment.createdDate}}</span>
                 <div class="row">
                     <span>{{comment.description}}</span>

                    {% if comment.replies %}
                    <hr/>
                    <ul>
                         {% for reply in comment.replies.all %}
                         <li>&nbsp&nbsp&nbsp&nbsp{{ reply.description }}</li>
                         {% endfor %}
                    </ul>
                     {% endif %}
                 </div>

                  <!-- Edit form-->
                 <div class="row" >
                     <div class="col-xs-4">
                         <div class="container">
                             <form id="form_part{{comment.pk}}" style="display: none;" class="form-horizontal" action="{% url 'github:comment_edit' issue.pk comment.pk %}" method="post">
                                {% csrf_token %}
                                 <h4><b>Edit comment</b></h4>
                                 <div class="form-group">
                                     <label class="control-label col-sm-2" for="comment">Comment:</label>
                                     <div class="col-sm-5">
                                         <textarea class="form-control" placeholder="Leave a comment" rows="5" id="commentEdit" name="comment">{{comment.description}}</textarea>

                                        {% if messageNewComm %}
                                         <div class="alert alert-danger">
                                             <strong>Danger!</strong> {{messageNewComm}}
                                         </div>
                                        {% endif %}
                                     </div>
                                 </div>

                                 <div class="form-group">
                                     <div class="col-sm-offset-4 col-sm-10">
                                         <button type="submit" class="btn btn-success">Confirm</button>
                                         <button type="button" class="btn btn-danger" onclick="hide_form({{comment.pk}})">Cancel</button>
                                     </div>
                                 </div>
                             </form>
                         </div>
                     </div>
                 </div>


                 <!-- Reply form-->
                 <div class="row" >
                     <div class="col-xs-4">
                         <div class="container">
                             <form id="form_part_reply{{comment.pk}}" style="display: none;" class="form-horizontal" action="{% url 'github:comment_reply' issue.pk comment.pk %}" method="post">
                                {% csrf_token %}
                                 <h4><b>Reply comment</b></h4>
                                 <div class="form-group">
                                     <label class="control-label col-sm-2" for="commentReply">Comment:</label>
                                     <div class="col-sm-5">
                                         <textarea class="form-control" placeholder="Leave a comment" rows="5" id="commentReply" name="commentReply"></textarea>

                                         {% if messageReply %}
                                         <div class="alert alert-danger">
                                             <strong>Danger!</strong> {{messageReply}}
                                         </div>
                                        {% endif %}
                                     </div>
                                 </div>

                                 <div class="form-group">
                                     <div class="col-sm-offset-4 col-sm-10">
                                         <button type="submit" class="btn btn-success">Confirm</button>
                                         <button type="button" class="btn btn-danger" onclick="hide_form_reply({{comment.pk}})">Cancel</button>
                                     </div>
                                 </div>
                             </form>
                         </div>
                     </div>
                 </div>
             </li>
             {% endfor %}
        </ul>
    </div>
</div>

<div class="row" >
    <div class="col-xs-4">
        <div class="container">
            <form class="form-horizontal" action="{% url 'github:comment_new' issue.pk %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label col-sm-2" for="comment">Comment:</label>
                    <div class="col-sm-5">
                        <textarea class="form-control" placeholder="Leave a comment" rows="5" id="comment" name="comment"></textarea>

                        {% if messageNewComm %}
                        <div class="alert alert-danger">
                          <strong>Danger!</strong> {{messageNewComm}}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-10">
                        <button type="submit" class="btn btn-default">Comment</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}

{% block content_right %}
<ul class="nav nav-stacked">
    <li>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editModal">Edit</button>
        {% if not issue.closed %}
        <button type="button" class="btn btn-danger" onclick="location.href='{% url 'github:issue_close' issue.pk %}'">Close</button>
        {% endif %}

        {% if issue.closed %}
        <button type="button" class="btn btn-info" onclick="location.href='{% url 'github:issue_reopen' issue.pk %}'">Reopen</button>
        {% endif %}
    </li>

    <br/>

    <li>
        <h5><b>Assignees:</b></h5>
        <ul class="list-group">
            {% for assignee in issue.assignees.all %}
            <li class="list-group-item">{{assignee.username}}</li>
            {% endfor %}
        </ul>
    </li>

    <li>
        <h5>
            <b>Labels:</b>

            {% if labels  %}
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="context_menu" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>

                <ul class="dropdown-menu" role="menu" aria-labelledby="filters">
                    <li><p>Click on label to add</p></li>
                    <li class="divider"></li>
                    {% for lab in labels %}
                    <li role="presentation">
                        <a href="{% url 'github:issue_add_label' issue.pk lab.pk %}" role="menuitem" tabindex="-1">
                            {{lab.name}}
                        </a>
                    </li>
                    {% endfor %}
                    <li class="divider"></li>
                    <li><a href="{% url 'github:switch_label_show_all' %}">Edit labels</a></li>
                </ul>
            </div>
            {% endif %}
        </h5>

        <ul class="list-group">
            {% for label in issue.labels.all %}
            <li class="list-group-item" style="background-color:{{label.color}};font-weight: bold;font-size: 15px;">
                <a href="{% url 'github:issue_delete_label' issue.pk label.pk %}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                {{label.name}}
            </li>
            {% endfor %}
        </ul>
    </li>

    <li>
         <h5>
            <b>History:</b>
            {% if history  %}
                <ul class="list-group">
                    <div class="pre-scrollable">
                        {% for h in history %}
                        <li class="list-group-item">
                            {{h.createdDate}}
                            <br>{{h.description}}</br>
                        </li>
                        {% endfor %}
                    </div>
                </ul>
            {% endif %}
        </h5>
    </li>
</ul>

<!-- Modal: EDIT ISSUE-->
<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Edit</b> {{issue.title}} <b>title</b></h4>
            </div>

            <div class="modal-body">
                <div class="container">
                    <form class="form-horizontal" action="{% url 'github:issue_edit_title' issue.pk %}" method="post">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="newtitle" class="control-label col-sm-0"></label>
                            <div class="col-sm-6">
                                <input type="text" align="left" class="form-control" id="newtitle" placeholder="Enter new title" name="newtitle" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-2">
                                <button type="submit" class="btn btn-success">Confirm</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Delete comment -->
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Delete comment</b></h4>
            </div>

            <div class="modal-body">
                <div class="container">
                    <form class="form-horizontal" action="{% url 'github:comment_delete' issue.id %}" method="post">
                    {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-4">Are you sure you want to do this?</label>
                            <div class="col-sm-6">
                                <input type="text" id="commentid" name="commentid" hidden/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-2">
                                <button type="submit" class="btn btn-success">Yes</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}