{% extends "github/label.html" %}

{% block head_content %}
<script>
    function show_edit_modal(pk,label_name,color){
        var label_pk = document.getElementById("label_pk"+pk).value;
        var label_name = document.getElementById("label_name"+label_name).innerHTML;
        var label_color = document.getElementById("label_color"+color).value;

        $(".modal-body #label_pk").val( label_pk );
        $(".modal-body #new_name").val( label_name );
        $(".modal-body #new_color").val( label_color );
        $("#editModal").modal('show');
    }

    function show_delete_modal(pk){
        var label_pk = document.getElementById("label_pk"+pk).value;
        $(".modal-body #label_pk_delete").val( label_pk );
        $("#deleteModal").modal('show');
    }
</script>
{% endblock %}

{% block content %}
<h4>Show all for {{request.session.repository_name}}</h4>

<div class="container">
    <div class="row" >
        <div class="col-xs-4">
            {% if messageEdit %}
                <div class="alert alert-danger">
                    <strong>Danger!</strong> {{messageEdit}}
                </div>
            {% endif %}

            {% if messageSuccess %}
                <div class="alert alert-success">
                    <strong>Success!</strong> {{messageSuccess}}
                </div>
            {% endif %}
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for label in labels %}
                <tr>
                    <td><div id="label_name{{label.name}}" style="width:auto;height:auto;border:1px solid {{label.color}};background-color:{{label.color}};font-weight: bold;font-size: 16px;">{{label.name}}</div></td>

                    <td>
                        <a href="#" onclick="show_edit_modal({{label.pk}},'{{label.name}}','{{label.color}}')">
                            Edit <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>

                    <td>
                        <a href="#" onclick="show_delete_modal({{label.pk}})">
                            Delete <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                    <td><input type="text" id="label_pk{{label.pk}}" value="{{label.pk}}" hidden/></td>
                    <td><input type="text" id="label_color{{label.color}}" value="{{label.color}}" hidden/></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal: EDIT LABEL-->
<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Edit label</b></h4>
            </div>

            <div class="modal-body">
                <div class="container">
                    <form class="form-horizontal" action="{% url 'github:label_edit' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" id="label_pk" name="label_pk" hidden/>
                            <label class="control-label col-sm-2" for="new_name">Name:</label>
                            <div class="col-sm-3">
                                <input type="text" id="new_name" class="form-control" placeholder="Enter label name" name="new_name" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="new_color">Color:</label>
                            <div class="col-sm-5">
                                <input type="color" id="new_color" name="new_color" required/>
                            </div>
                        </div>

                         <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-2">
                                <button type="submit" class="btn btn-success">Confirm</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal: DELETE LABEL -->
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Delete label</b></h4>
            </div>

            <div class="modal-body">
                <div class="container">
                    <form class="form-horizontal" action="{% url 'github:label_delete' %}" method="post">
                    {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-4">Are you sure you want to do this?</label>
                            <div class="col-sm-6">
                                <input type="text" id="label_pk_delete" name="label_pk" hidden/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-2">
                                <button type="submit" class="btn btn-success">Yes</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}