{% extends "github/base.html" %}

{% block body_content %}
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <!-- Sidebar Header -->
            <div class="sidebar-header">
                <h3>Milestones</h3>
            </div>

            <ul class="nav nav-stacked">
                <li><a href="{% url 'github:switch_milestone' milestone.repository.name %}">New milestone</a></li>
                <li><a href="{% url 'github:getAllMilestones' milestone.repository.name %}">Milestones</a></li>
                <li><a href="{% url 'github:repositoryInfo'  milestone.repository.name  %}">Back to repository</a></li>
                {% if milestone.opened %}
                <li><a href="{% url 'github:switch_issue_new_from_milestone' milestone.title %}">New issue</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="col-sm-8 text-left">
            <!-- Page Content -->
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                        {% block content %}
                           <h4 class="text-primary">About {{milestone.title}}</h4>
                            <span {% if milestone.opened %}class="label label-success"{% endif %} {% if not milestone.opened %}class="label label-danger"{% endif %}>
                            {% if milestone.opened %}
                                Open
                            {% endif %}
                            {% if not milestone.opened %}
                                Closed
                            {% endif %}
                            </span>

                            <div class="row">
                                <div class="col-xs-10">
                                    <h5><b>Title</b></h5>
                                    <ul class="list-group">
                                        <li class="list-group-item">{{milestone.title}}</li>
                                    </ul>

                                    <h5><b>Date</b></h5>
                                    <ul class="list-group">
                                        <li class="list-group-item">{{milestone.date}}</li>
                                    </ul>

                                    <h5><b>Description</b></h5>
                                    <ul class="list-group">
                                        <li class="list-group-item">{{milestone.description}}</li>
                                    </ul>

                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2 sidenav">

            <ul class="nav nav-stacked">
                <li>
                    <button type="button" class="btn btn-success" onclick="location.href='{% url 'github:switch_issue_new_from_milestone' milestone.title   %}'">New issue</button>

                    {% if milestone.opened %}
                    <button type="button" class="btn btn-danger" onclick="location.href='{% url 'github:milestone_close' milestone.pk %}'">Close</button>
                    {% endif %}

                    {% if not milestone.opened %}
                    <button type="button" class="btn btn-info" onclick="location.href='{% url 'github:milestone_reopen' milestone.pk %}'">Reopen</button>
                    {% endif %}
                </li>

                <br/>

                <li>
                    <h5><b>Issues connected to this milestone:</b></h5>
                    <ul class="list-group">
                        {% for i in issuesOfMilestone%}
                        <li class="list-group-item" style="padding: 5px 15px;">
                            <a href="{% url 'github:switch_issue_view_one' i.pk %}">{{i.title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}


