{% extends "github/base.html" %}

{% block body_content %}
<div class="wrapper">
     <nav class="col-sm-3 shomeidenav hidden-xs">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <h3>Milestone settings</h3>
        </div>
         <!-- Sidebar Links -->
         <ul class="nav nav-stacked">
            <li><a href="{% url 'github:switch_milestone' nameRepository %}">New milestone</a></li>
            <li><a href="{% url 'github:getAllMilestones' nameRepository %}">Milestones</a></li>
            <li><a href="{% url 'github:repositoryInfo' nameRepository  %}">Back to repository</a></li>
        </ul>
    </nav>

    <!-- Page Content -->
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
                <div><h3>Milestones of {{nameRepository}}</h3></div>
                <div class="col-xs-12" style="height:50px;"></div>
                <div class="container">
                     <div class="col-md-8">
                   <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="filters" data-toggle="dropdown">Filters
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" role="menu" aria-labelledby="filters">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{% url 'github:getAllMilestones_open' nameRepository %}">Open</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{% url 'github:getAllMilestones_closed'  nameRepository%}">Closed</a>
                            </li>
                        </ul>

                        <a href="{% url 'github:getAllMilestones' nameRepository%}"><button class="btn btn-default">Close filter</button></a>
                   </div>



                   <table class="table">
                    <thead>
                      <tr>
                        <th style="width:15%">Title</th>
                        <th style="width:15%">Due date</th>
                        <th style="width:10%">Description</th>
                        <th style="width:10%"></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for m in milestonesOfRepository%}
                      <tr {% if  m.opened %} class="success" {% endif %} {% if not m.opened %} class="danger" {% endif %}>
                          <td><a href="{% url 'github:milestoneInfo' m.title %}">{{m.title}}</a></td>
                          <td>{{m.date}}</td>
                          <td>{{m.description}}</td>
                          <td><a href="{% url 'github:delete_milestone' m.pk %}">Delete</a></td>
                          <td><a href="{% url 'github:switch_milestone_edit' m.pk %}">Edit</a></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
            {% endblock %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}