{% extends "github/milestone_base.html" %}


{% block content %}
<div><h4>Milestones of {{nameRepository}}</h4></div>
<div class="col-xs-12" style="height:50px;"></div>

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="filters" data-toggle="dropdown">Filters
        <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="filters">
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="{% url 'github:getAllMilestones_open' nameRepository %}">Open</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="{% url 'github:getAllMilestones_closed'  nameRepository%}">Closed</a>
        </li>
    </ul>

    <a href="{% url 'github:getAllMilestones' nameRepository%}"><button class="btn btn-default">Close filter</button></a>
</div>

<table class="table">
    <thead>
        <tr>
            <th style="width:15%">Title</th>
            <th style="width:15%">Due date</th>
            <th style="width:10%">Description</th>
            <th style="width:10%"></th>
            <th style="width:10%"></th>
            <th style="width:10%"></th>
            <th style="width:10%"></th>

        </tr>
    </thead>

    <tbody>
        {% for m in milestonesOfRepository%}
          <tr {% if  m.opened %} class="success" {% endif %} {% if not m.opened %} class="danger" {% endif %}>
              <td><a href="{% url 'github:milestoneInfo' m.title %}">{{m.title}}</a></td>
              <td>{{m.date}}</td>
              <td>{{m.description}}</td>
              <td>{{m.countOpenedIssues}} opened </td>
              <td>{{m.countClosedIssues}} closed</td>
              <td><a href="{% url 'github:switch_milestone_edit' m.pk %}">Edit <span class="glyphicon glyphicon-pencil"></span></a></td>
              <td><a href="{% url 'github:switch_delete_milestone' m.pk %}">Delete <span class="glyphicon glyphicon-trash"></span></a></td>
          </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}