{% extends "github/home.html" %}

{% block body_content %}
<div class="wrapper">
     <nav class="col-sm-3 shomeidenav hidden-xs">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <h3>Milestone settings</h3>
        </div>
        <ul class="nav nav-stacked">
            <li><a href="{% url 'github:switch_milestone' milestone.repository.name %}">New milestone</a></li>
            <li><a href="{% url 'github:getAllMilestones' milestone.repository.name %}">Milestones</a></li>
            <li><a href="{% url 'github:repositoryInfo'  milestone.repository.name  %}">Back to repository</a></li>
            <li><a href="{% url 'github:switch_issue_new_from_milestone' milestone.title %}">New issue</a></li>
        </ul>

    </nav>

    <!-- Page Content -->
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
               <div><h4>About {{milestone.title}}</h4></div>
               <div class="form-group">
                    <span
                        {% if milestone.opened %}class="label label-success"{% endif %}
                        {% if not milestone.opened %}class="label label-danger"{% endif %}>
                        {% if milestone.opened %}
                            Open
                        {% endif %}
                        {% if not milestone.opened %}
                            Closed
                        {% endif %}
                    </span>
               </div>
               <div class="form-group">
                    <label class="control-label col-sm-2" for="title">Title:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" placeholder="Enter title" name="title" rows="5" value="{{milestone.title}}"  disabled />
                    </div>
               </div>
               <div class="form-group">
                    <label class="control-label col-sm-2" for="date">Date</label>
                     <div class="col-sm-10">
                         <input class="form-control" id="date" name="date" placeholder="YYYY-MM-DD" type="text" rows="5" value="{{milestone.date}}" disabled/>
                     </div>
               </div>

               <div class="form-group">
                    <label class="control-label col-sm-2" for="description">Description:</label>
                    <div class="col-sm-5">
                        <textarea class="form-control" rows="5" id="description" name="description"  disabled>{{milestone.description}}</textarea>
                    </div>
               </div>
               <div class="col-xs-12" style="height:50px;"></div>
               <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            {% if not milestone.opened %}
                            <button type="button" class="btn btn-info" onclick="location.href='{% url 'github:milestone_reopen' milestone.pk %}'">Reopen</button>
                            {% endif %}
                            {% if milestone.opened %}
                            <button type="button" class="btn btn-danger" onclick="location.href='{% url 'github:milestone_close' milestone.pk %}'">Close</button>
                            {% endif %}
                        </div>
               </div>
               <div class="form-group">
                   <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-info" onclick="location.href='{% url 'github:delete_milestone' milestone.pk %}'">Delete</button>
                    </div>
                   </div>

            {% endblock %}
            </div>
        </div>
    </div>

</div>
{% endblock %}

