{% extends "github/organization_show_one_base.html" %}


{% block content %}
    <div><h4>About organization</h4></div>

    <div class="row">
        <div class="col-xs-10">
            <h5><b>Name</b></h5>
            <ul class="list-group">
                <li class="list-group-item">{{organization.name}}</li>
            </ul>

            <h5><b>Email</b></h5>
            <ul class="list-group">
                <li class="list-group-item">{{organization.email}}</li>
            </ul>

            <h5><b>Purpose</b></h5>
            <ul class="list-group">
                <li class="list-group-item">{{organization.purpose}}</li>
            </ul>

            <h5><b>How long</b></h5>
            <ul class="list-group">
                <li class="list-group-item">{{organization.howLong}}</li>
            </ul>

            <h5><b>How much people</b></h5>
            <ul class="list-group">
                <li class="list-group-item">{{organization.howMuchPeople}}</li>
            </ul>

            <h5><b>Repositories in organization</b></h5>
            <ul class="list-group">
                <div class="container">
                   <table class="table">
                    <thead>
                      <tr>
                          <th>Repository name</th>
                          <th>Organization name</th>
                          <th>More informations</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for r in repositories %}
                        <tr>
                            <td>{{r.name}}</td>
                            <td>{{r.organization.name}}</td>
                            <td><a href="{% url 'github:repositoryInfo' r.name %}">Info</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
            </ul>
        </div>
    </div>
{% endblock %}


{% block content_right %}
<ul class="nav nav-stacked">
    <li>
        <h5><b>Members:</b></h5>
        <ul class="list-group">
            {% for member in organization.members.all %}
                <li class="list-group-item" style="padding: 5px 15px;">
                    <b>{{member.username}}</b>
                    {% if member.username == organization.owner.username %} [owner] {% endif %}
                    {% if member.username != organization.owner.username %} [member] {% endif %}
                </li>
            {% endfor %}
        </ul>
    </li>
</ul>
{% endblock %}