{% extends "github/base.html" %}

{% block body_content %}
    <div class="container">
        <form class="form-horizontal" action="{% url 'github:saveOrganizationDetails' %}" method="post">
            {% csrf_token %}
            <h2>Purpose</h2>
            {% for p in organization.purposeList%}
            <div class="radio">
                <label><input type="radio" name="purpose" value = "{{p}} ">{{p}}</label>
            </div>
            {% endfor %}


            <h2>How long do you plan to use this organization?</h2>
            {% for l in organization.howLongList%}
            <div class="radio">
                <label><input type="radio" name="howLong" value = "{{l}} ">{{l}}</label>
            </div>
            {% endfor %}

            <h2>How much people do you plan to use this organization?</h2>
            {% for pl in organization.howMuchPeopleList%}
            <div class="radio">
                <label><input type="radio" name="howMuchPeople" value = "{{pl}} ">{{pl}}</label>
            </div>
            {% endfor %}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Next</button>
                </div>
            </div>

        </form>
    </div>

{% endblock %}