{% extends "github/home.html" %}

{% block body_content %}
    <div class="container">
        <div class="container">
          <h2>Repository Table</h2>
           <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Members</th>
              </tr>
            </thead>
            <tbody>
            {% for r in repositories%}
              <tr>
                <td>{{r.name}}</td>
                <td>{{r.description}}</td>
                <td>Username</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
{% endblock %}