{% extends "github/base.html" %}

{% block body_content %}
<div class="wrapper">

    <!-- Page Content -->
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
                <div><h3>Repositories of {{username}}</h3></div>
                <div class="col-xs-12" style="height:50px;"></div>
                <div class="container">
                   <table class="table">
                    <thead>
                      <tr>
                          <th  style="width:10%">Repository name</th>
                          <th  style="width:10%">Organization name</th>
                          <th  style="width:10%">More informations</th>
                          <th  style="width:10%"></th>
                          <th style="width:10%"></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for o in repositoriesOfUser%}
                      <tr>
                          <td>{{o.name}}</td>
                          <td>{{o.organization.name}}</td>
                          <td><a href="{% url 'github:repositoryInfo' o.name %}">More informations</a></td>
                          {% if o.owner == username %}
                          <td><a href="{% url 'github:switch_delete_repository' o.name %}">Delete</a></td>
                          {% endif %}
                          <td><a href="{% url 'github:switch_edit_repository' o.name %}">Edit</a></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
            {% endblock %}
            </div>
        </div>
    </div>

</div>
{% endblock %}